<h1>Toys Listings</h1>

<%= link_to 'Add new listing', new_toy_path %>

<% @toys.each do |toy| %>
  <div>
    <h2><%= toy["name"] %></h2>
    <p><%= toy["post_date"] %></p>
    <p><%= toy["description"] %></p>
    <%= link_to 'View Toy', toy_path(toy) %>
  </div>
<% end %>