<h1><%= @toy["name"] %></h1>
<p><%= @toy["post_date"] %></p>
<p><%= @toy["description"] %></p>

<%= link_to 'Edit', edit_toy_path %>
<%= link_to 'Delete', toy_path(@toy),
    method: :delete,
    data: { confirm: "Are you sure?" }%>
<%= link_to 'Back', toys_path %>